/* Temp colors */
/* Cream/white => #EAE7DC */

/* Beige => #D8C3A5 */

/* Dark Grey => #8E8D8A */

/* Pink/red => #E98074 */

/* Red => #E85A4F */


/* Remove default */
body {
    padding: 0;
    margin: 0;
    background-color: #EAE7DC;
    color: #E98074;
}

/* Page wrapper to create the page structure */
#wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
    text-align: center;
    font-size: 20px;
}

#main {
    position: relative;
    border-bottom: 2px solid #D8C3A5;
}

#wrapper h2 {
    padding-bottom: 0.75em;
}

#main h2 {
    border-bottom: 2px solid #D8C3A5;
}

#sidebar {
    position: relative;
    border-right: 2px solid #D8C3A5;
}

#sidebar h2 {
    border-bottom: 2px solid #D8C3A5;
}

/* Style add project button */
#addProject {
    position: relative;
    padding: 8px 16px;
    top: 15px;
    color: #fff;
    background-color: #D8C3A5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#addProject:hover {
    background-color: #E98074;
}

/* Delay + animate on hover */
#addProject:hover,
#addTodo:hover {
    transition: background-color 0.1s ease-in;
}

/* Style add todo button */
#addTodo {
    position: absolute;
    top: 5em;
    left: 2em;
    font-size: 1.2em;
    color: #fff;
    padding: 4px 11px;
    background-color: #D8C3A5;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

#addTodo:hover {
    background-color: #E98074;
}

/* Modal */
.modal {
    color: #8E8D8A;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .2);
}

.modal-content {
    background-color: #EAE7DC;
    padding: 1em;
    /* Display more or less in the middle of #main */
    margin-left: 45%;
    margin-top: 10%;
    width: 25%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .2), 0 7px 20px 0 rgba(0, 0, 0, .17);
    animation-name: modalOpen;
    animation-duration: 1s;
}

.modal-content label {
    display: inline-block;
    margin-top: 0.5em;
}

.modal-content input[type=text] {
    box-sizing: border-box;
    width: 100%;
    padding: 0.6em 1em;
    margin-top: 0.5em;
    margin-bottom: 0.7em;
    display: inline-block;
    border: 1px solid #8E8D8A;
    border-radius: 4px;
}

#projectDescription {
    padding: 1em;
}

.modal-content input[type=submit] {
    font-size: 1em;
    width: 100%;
    background-color: #E98074;
    color: #fff;
    padding: 0.7em;
    margin: 0.5em 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.project-close-btn {
    color: #E98074;
    float: right;
    font-size: 1.5em;
    transition: color 0.1s ease;
}

.project-close-btn:hover,
.project-close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalOpen {
    from {opacity: 0}
    to {opacity: 1}
}